.container {
    margin-top: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
/*    background-image: url("http://www.gsfdcy.com/data/img/19/1324892-cloud-wallpaper.jpg");
    background-size: cover;*/
    background-color: aliceblue;
    border-style: solid;
    border-width: 3px;
    border-color: #08509b;
    padding: 30px;
}

label {
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
    font-size: 22px;
    font-weight: bold;
}

body {
    background-color: #00529c;
}

.row {
    margin-top: 40px;
}

.outline-menu {
/*    margin-top: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px;*/
}

input {
    margin-right: 10px;
}

.inline-row {
    display: inline;
}

.radioImage {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.btn {
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
}

.btn-s {
    width: 150px;
}

h1 {
    color: #00529c;
    font-size: 50px;
}

.scroll-left {
   margin-top: 20px;
   height: 50px;
   overflow: hidden;
   position: relative;
   background: #2282e7;
   color: #000000;
   border: 1px solid #08509b;
}

.scroll-left p {
    font-size: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 40s linear infinite;
    -webkit-animation: scroll-left 40s linear infinite;
    animation: scroll-left 40s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
    0%   {
        -moz-transform: translateX(100%); /* Browser bug fix */
        -webkit-transform: translateX(100%); /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%);
    }
}
