.container {
    margin-top: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.row {
    margin-top: 40px;
}

.outline-menu {
    margin-top: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px;
}

input {
    margin-right: 10px;
}

.inline-row {
    display: inline;
}

